* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
}

/* shared common style */
.primary-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
}

/* header related style */
header {
  display: flex;
  gap: 97px;
  justify-content: center;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  padding: 50px 240px 0;
}
.banner-title {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.banner-desc {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0;
}

/* main related style */
section,
footer {
  margin-top: 130px;
  text-align: center;
}
.section-center {
  margin-left: 240px;
  margin-right: 240px;
}

/* featured flowers */
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.section-title span {
  color: #e55473;
}
.section-desc {
  width: 594px;
  margin: 20px auto 48px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.flower-types {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.flower-as-bg {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  margin-bottom: 32px;
}
.pink-flower {
  background: url(../images/pngwing\ 6.png), rgba(167, 33, 98, 0.15);
  background-repeat: no-repeat;
  background-position: bottom center;
}
.red-flower {
  background: url(../images/pngwing\ 5.png), rgba(5, 151, 160, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
}
.yellow-flower {
  background: url(../images/pngwing\ 7.png), rgba(71, 125, 17, 0.15);
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* our feature */
.our-feature {
  margin-top: 128px;
  padding: 87px 175px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.feature-desc {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
}

/* hot deal  */
.hot-deal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 185px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
}

/* instagram section */
.insta-img {
  display: flex;
  justify-content: center;
  gap: 24px;
}

/* extra section */
.flower-delivery-service {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sevice-detalis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sevice-detalis img {
  border-radius: 8px;
}
/* subscribe-section */
.subscribe-section {
  background: url(../images/Rectangle\ 9.png);
  padding: 120px 310px;
  background-repeat: no-repeat;
}
.subscribe-section input[type="email"] {
  padding: 22px 300px 22px 22px;
  border: 0;
  border-radius: 8px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-right: 16px;
}

/* footer */
footer {
  background: #111010;
  padding: 128px 0;
}
.footer-title {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
}
.footer-title span {
  color: #e55473;
}
.footer-desc {
  width: 625px;
  margin: 24px auto 32px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
}
.copywrite {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
